<h2>Meeting 1</h2>
<div>
USER ID: <input [(ngModel)]="myUserId">
DISPLAY NAME: <input [(ngModel)]="myDisplayName">
</div>
<br>
<div>
    <button (click)="setUpConfig()">INITIALIZE</button>
    <button (click)="CreateSession()">CREATE USER SESSION</button>
    <button (click)="CreateMeeting()">CREATE MEETING</button>
</div>
<div>
    <button (click)="DoAll()">DO ALL</button>
</div>
<!--<div>
    <button (click)="CreateApplicationSession()">CREATE APPLICATION SESSION</button>
    <button (click)="RetrieveListOfMeetings()">RETRIEVE LIST OF MEETINGS</button>
</div>-->
<div>
    <input name="roomId" [(ngModel)]="roomId" />
</div>
<div>
    "RoomId: {{roomId}}"
</div>
<div>
    <input width="40%" [(ngModel)]="selectedRoomId" />
    <button (click)="RetrieveSelectedRoomId()">RETRIEVE SELECTED ROOM ID</button>
<div>
    <br>
    <div>
        <button (click)="StartMyStream()">START MY STREAM</button>
    </div>
    <div>
        <video id="myVideo" autoplay="true" #videoMe width="40%" height="auto">
        </video>
    </div>
    <div>
        {{msgReEvents}}
    </div>
</div>